# Data Science Tools and Ecosystem

In this notebook, data science tools and ecosystems are summarized

**Objectives:**
- List popular languages used in data science
- List commonly used data science libraries
- Create a table of data science tools
- Create a few examples of arithmetic expressions

Some of the popular languages that data scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Plotly
5. TensorFlow
6. PyTorch

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| R Studio           |
| Visual Studio Code |

# Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to multiply then add integers
result = (3*4)+5
print(result)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Claire Pearsall